<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        </staticContent>
        <handlers>
            <remove name="PHPviaCGI" />
            <add name="PHPviaCGI" path="*.php" verb="*" modules="CgiModule" scriptProcessor="<add php-cgi.exe location here>" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
